body {
    padding: 0;
    margin: 0;
}
.invisible {
    color: white;
}
.fixed-top {
    position: sticky
}
.footer {
    background-color: navy ;
}
.footer-text-left {
    color: white;
    text-align:center;
}
.footer-text-center {
    color: white;
    text-align: center;
}
.footer-text-right {
    color: white;
    text-align: center;
}

.carouselBackground{
    background-color: olive;
}

.infoBackground { 
    background-color: orange;
}
.plantContainer {
    background-color:#f3f3f3;
}
.row {
    padding: 20px;
}
.blurb {
    padding-left: 20px;
}
.socialMedia {
    padding: 10px
}
.image-fluid {
    position: relative;
    max-width: 100%;
    width: 100%
}
.box {
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.navbar-nav .dropdown-menu {
    background-color: #343a40!important;
    border: 0;
}
.dropdown-item{
    color: white;
}
.navbar-toggler {
    border: 0;
    border-color: none;
}
